<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.plantuml.eclipse.diagramIntentProvider">
      <diagramIntentProvider
            id="hu.bme.mit.gamma.environment.plantuml.commandhandler.StatechartModelTextProvider"
            label="Stochastic Gamma statechart model visualizer"
            providerClass="hu.bme.mit.gamma.environment.plantuml.commandhandler.TextProvider">
      </diagramIntentProvider>
   </extension>
</plugin>
