<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="hu.bme.mit.gamma.architecture.transformation.commandhandler"
            name="SysMLImportWizards">
      </category>
      <wizard
            category="hu.bme.mit.gamma.architecture.transformation.commandhandler"
            class="hu.bme.mit.gamma.architecture.transformation.commandhandler.wizards.SysMLImportWizard"
            icon="icons/sample.png"
            id="hu.bme.mit.gamma.architecture.transformation.commandhandler.wizards.SysMLImportWizard"
            name="SysM LImport Wizard">
      </wizard>
   </extension>

</plugin>
