<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fmeda -->
      <package
            uri="www.mit.bme.hu/gamma/fmeda/Model"
            class="hu.bme.mit.gamma.fmeda.model.fmedaPackage"
            genModel="model/fmeda.genmodel"/>
   </extension>

</plugin>
