<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hu.bme.mit.gamma.environment.model -->
      <package
            uri="www.mit.bme.hu/gamma/environment/Model"
            class="hu.bme.mit.gamma.environment.model.model.ModelPackage"
            genModel="model/environment.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environment -->
      <package
            uri="www.mit.bme.hu/gamma/environment/Model"
            class="hu.bme.mit.gamma.environment.model.EnvironentPackage"
            genModel="model/environment.genmodel"/>
   </extension>

</plugin>
