<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated architecture -->
      <package
            uri="www.mit.bme.hu/gamma/architecture/Model"
            class="hu.bme.mit.gamma.architecture.model.ModelPackage"
            genModel="model/architecture.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated architecture -->
      <package
            uri="http://www.mit.bme.hu/gamma/statechart/Model/Interface"
            class="interface_.InterfacePackage"
            genModel="model/architecture.genmodel"/>
   </extension>

</plugin>
