<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="hu.bme.mit.gamma.environment.ui"
            name="New SGCD Model">
      </category>
      <wizard
            category="hu.bme.mit.gamma.environment.ui"
            class="hu.bme.mit.gamma.environment.ui.wizards.NewSGCDModelWizard"
            icon="icons/stochastic_gamma16.png"
            id="hu.bme.mit.gamma.environment.ui.wizards.NewSGCDModelWizard"
            name="New SGCD Model Wizard"
            project="false">
      </wizard>
      <wizard
            category="hu.bme.mit.gamma.environment.ui"
            class="hu.bme.mit.gamma.environment.ui.wizards.GammaSimulatorWebVizualizationWizard"
            descriptionImage="icons/stochastic_gamma16.png"
            icon="icons/stochastic_gamma16.png"
            id="hu.bme.mit.gamma.environment.ui.wizards.GammaSimulatorWebVizualizationWizard"
            name="Gamma Simulator Web Vizualization Wizard"
            project="false">
      </wizard>
   </extension>
   <extension
		point="org.eclipse.ui.perspectiveExtensions">
	    <perspectiveExtension
	          targetID="*">
	       <newWizardShortcut
	             id="hu.bme.mit.gamma.environment.ui.wizards.NewSGCDModelWizard">
	       </newWizardShortcut>
	    </perspectiveExtension>
   </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          menuGroupId="hu.bme.mit.gamma"
          type="new"
          wizardId="hu.bme.mit.gamma.environment.ui.wizards.NewSGCDModelWizard">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IFolder">
             </adapt>
             <adapt
                   type="org.eclipse.core.resources.IProject">
             </adapt>
          </or>
       </enablement>
    </commonWizard>
 </extension>
 <extension
       id="hu.bme.mit.gamma.environment.ui.help"
       point="org.eclipse.help.toc">
    <toc
          file="toc.xml"
          primary="true">
    </toc>
    <toc
          file="tocmodeling.xml">
    </toc>
    <toc
          file="tocgettingstarted.xml">
    </toc>
    <toc
          file="tocreference.xml">
    </toc>
    <toc
          file="tocsamples.xml">
    </toc>
    <toc
          file="tocanalysis.xml">
    </toc>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="hu.bme.mit.gamma.environment.ui.perspecitves.StochasticGammaPerspectiveFactory"
          fixed="false"
          icon="icons/stochastic_gamma16.png"
          id="hu.bme.mit.gamma.environment.ui.perspective"
          name="Stochastic Gamma Perspective">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="hu.bme.mit.gamma.environment.ui.perspective">
    </perspectiveExtension>
 </extension>


</plugin>
